body {
    background-color: #2c3e50;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.navbar {
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.faculty-photo {
    height: 80px; /* Increase size */
    width: 90px; /* Maintain aspect ratio */
    border-radius: 50%; /* Circular shape */
    margin-right: 10px;
    border: 2px solid #ecf0f1; /* Add border */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Add subtle shadow */
}

.navbar .btn {
    transition: background-color 0.3s;
}

.navbar .btn:hover {
    background-color: #0056b3;
}

.custom-card {
    background: #34495e;
    color: #ecf0f1;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 30px;
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.custom-card h4 {
    font-size: 1.75rem;
    margin-bottom: 15px;
}

.custom-card p {
    font-size: 1.1rem;
    opacity: 0.8;
}

.container h2 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 20px;
    color: #ecf0f1;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden */
    width: 300px;
    height: 100%;
    background: #34495e;
    color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding: 15px;
    overflow-y: auto;
    z-index: 1050;
}

.sidebar-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.sidebar-header h5 {
    font-size: 1.25rem;
}

.sidebar-content {
    margin-top: 20px;
}

.sidebar-content p {
    font-size: 1rem;
    color: #ecf0f1;
}

.sidebar.active {
    right: 0;
    background-color: #495057;
}

.sidebar-handle {
    position: fixed;
    top: 50%;
    right: 0; /* Always visible */
    transform: translateY(-50%);
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s ease, right 0.3s ease;
    z-index: 1100; 
}

.sidebar.active + .sidebar-handle {
    right: 300px; 
}

.sidebar-handle:hover {
    background: #0056b3;
}
