body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.p1 {
    margin: 0;
    font-size: 24px;
}

.p2 button {
    background-color: #34495e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.p2 button:hover {
    background-color: #16a085;
}

.table-container {
    width: 80%;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #34495e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button.update-btn {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button.update-btn:hover {
    background-color: #007bb5;
}

#updateForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    width: 400px;
}

#updateForm label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

#updateForm input, #updateForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#updateForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

#updateForm button:hover {
    background-color: #45a049;
}

#updateForm .close-btn {
    background-color: #f44336;
}

#facultyIdHeader {
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
    text-align: center;
    margin-bottom: 15px;
}

footer {
    margin-top: 50px;
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.back-btn {
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.back-btn:hover {
    background-color: #e53935;
}
