/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef1f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.p1 {
    margin: 0;
    font-size: 24px;
}

.p2 button {
    background-color: #34495e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.p2 button:hover {
    background-color: #16a085;
}

/* Filter Section */
.filter-container {
    margin: 20px;
    text-align: center;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* Table Section */
.table-container {
    width: 90%;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #bdc3c7;
    font-size: 16px;
}

th {
    background-color: #34495e;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #ecf0f1;
}

/* Image Styling */
img {
    width: 90px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}

/* Back Button */
.back-btn {
    margin-top: 20px;
    background-color: #2980b9;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.back-btn:hover {
    background-color: #2471a3;
}

/* Footer */
footer {
    margin-top: 20px;
    background-color: #2c3e50;
    color: white;
    padding: 12px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}
